body {
  background: #83c2af;
  background: -webkit-linear-gradient(top left, #83c2af, #468236);
  background: -moz-linear-gradient(top left, #83c2af, #468236);
  background: linear-gradient(to bottom right, #83c2af, #468236);
  /* background-image: linear-gradient(to right top, #89167a, #6b1253, #4b1233, #2a0f1b, #000000); */
  padding: 0;
  margin: 0;
  padding-top: 25px;
  background-size: cover;
}

.searchbtn {
  margin: auto;
  width: 400px;
}

.mainsection {
  display: flex;
  margin: 50px;
  height: 100%;
  padding: 30px;
  border: 2px solid white;
  display: flex;
  flex-direction: column;
}

.MainCard {
  height: 450px;
  /* border: 2px solid white; */
}

.subCard {
  border: 2px solid white;
  height: 400px;
  margin: 5px;
  width: 296px;
  display: flex;
  flex-direction: column;

  /* border: 2px solid green; */
}

.Text1 {
  /* border: 2px solid white; */
  height: 200px;
  width: 291px;
  background-image: linear-gradient(
    to right top,
    #89167a,
    #6b1253,
    #4b1233,
    #2a0f1b,
    #000000
  );
}

.banner-image {
  height: 200px;
  background-size: cover;
  background-position: center;
  width: 290px;
}

.Text1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 10px;
  color: #ffffff;
}

.Event-name {
  margin: auto;
  color: white;
  text-align: center;
  margin-top: 15px;
}

@media (min-width: 600px) {
  .MainCard {
    height: 350px;
    /* border: 2px solid white; */
  }

  .subCard {
    width: 438px;
    height: 223px;
    flex-direction: row;
    margin-top: 27px;
  }

  .Text1 {
    height: 220px;
  }
  .banner-image {
    height: 220px;
  }

  .banner-dance-image {
    height: 220px;
  }

  .banner-cook-image {
    height: 220px;
  }
  .banner-game-image {
    height: 220px;
  }
  .banner-code-image {
    height: 220px;
  }

  .banner-Draw-image {
    height: 220px;
  }

  .mainsection {
    flex-direction: row;
  }
}
